{% extends 'base/news_base.html' %}

{% block title %} Sahifa Topilmadi {% endblock %}

{% block content %}
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="error_page">
            <h3>Sahifa topilmadi!</h3>
            <h1>404</h1>
            <p>Afsuski, siz qidirayotgan sahifa topilmadi. U vaqtincha mavjud bo'lmasligi, boshqa joyga ko'chirilishi yoki mavjud bo'lmasligi mumkin</p>
            <span></span> <a href="{% url 'home_page' %}" class="wow fadeInLeftBig">Bosh sahifaga qaytish</a> </div>
        </div>
      </div>
{% endblock %}