{% extends 'base/news_base.html' %}

{% block title %} Eng So'ngi Yangiliklar | Sahifasi {% endblock %}

{% block content %}
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><a href="{% url 'category_page' 'uzbekiston' %}"><span>Latest news</span></a></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="{% url 'single_page' news_list__main.slug %}" class="featured_img"> <img alt="" src="{{ news_list__main.image.url }}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{% url 'single_page' news_list__main.slug %}">{{ news_list__main.title }}</a> </figcaption>
                    <p>{{ news_main.body | cut_until_dot}}</p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                {% for news in news_list__first_half %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.slug %}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                      <div class="media-body"> <a href="{% url 'single_page' news.slug %}" class="catg_title">{{ news.title }}</a> </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                  {% for news in news_list__second_half %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.slug %}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                    <div class="media-body"> <a href="{% url 'single_page' news.slug %}" class="catg_title">{{ news.title }}</a> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}