{% extends 'base/news_base.html' %}
{% load hitcount_tags %}

{% block title %}{{ news_item.title }} | Sahifasi{% endblock %}

{% block content %}
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home_page' %}">Bosh sahifa</a></li>
              <li><a href="{% url 'category_page' news_item.category.slug %}">{{ news_item.category.name | capfirst }}</a></li>
            </ol>
            <h1>{{ news_item.title }}</h1>
            <div class="post_commentbox"> <a href=""><i class="fa fa-user"></i>{{ news_item.author | capfirst }}</a> <span><i class="fa fa-calendar"></i>{{ news_item.published_time | date:'H:i / Y.m.d' }}</span> <a href="{% url 'category_page' news_item.category.slug %}"><i class="fa fa-list"></i>{{ news_item.category | capfirst }}</a> <span><i class="fa fa-eye"></i>{% get_hit_count for news_item %}</span> </div>
            <div class="single_page_content"> <img class="img-center" src="{{ news_item.image.url }}" alt="">
              <p>{{ news_item.body }}</p>
                    <div class="comments" style="margin-bottom: 15px">
                    {% if news_item.comments.exists %}
                        <h3>Kommentariyalar ({{ comments_count }})</h3>
                        <ul>
                            {% for comment in comments %}
                                <li>
                                    <strong>{{ comment.user }}</strong> - {{ comment.created_time | date:"d M Y, H:i" }}
                                    <p>{{ comment.body }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3>Hozircha kommentariya yo'q</h3>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div class="contact_area">
                    <h4>Kommentariya qoldirish:</h4>
                    <form class="contact_form" action="" method="post">{% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="saqlash">
                    </form>
                </div>
                {% else %}
                    <h3 style="color: #333333">Kommentariya qoldirish uchun <a href="{% url 'login' %}?next={{ request.path }}" style="color: #D083CF">tizimga kiring</a> yoki <a href="{% url 'user_register' %}?next={{ request.path }}" style="color: #D083CF">ro'yxatdan o'ting</a></h3>
                {% endif %}
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="https://www.facebook.com/kunuznews/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/KunUzNews"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/kun.uz"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/@kunuz_official"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                  {% for news in single_related %}
                <li>
                  <div class="media"> <a class="media-left" href="{% url 'single_page' news.slug %}"> <img src="{{ news.image.url }}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="single_page.html">{{ news.title }}</a> </div>
                  </div>
                </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}