{% extends 'base/user_base.html' %}

{% block title %} Parolni Tiklash | Sahifasi {% endblock %}

{% block content %}
    <div style="margin-bottom: 20px">
     {% if user.is_authenticated %}
        <h3>Parolni tiklash</h3>
         <form action="" method="post" class="contact_form">
             {% csrf_token %}
             <p>parolingizni unutdingizmi? Email manzilingizni kiritib parolni tiklash havolasini oling</p>
             {{ form.as_p }}
             <input type="submit" value="havolani yuborish" style="margin-bottom: 20px">
         </form>
     {% else %}
         <h3>Siz avval tizimga kirishingiz kerak <a href="{% url 'login' %}" style="margin-left: 20px; color: #D083CF; font-size: 15px">login sahifasi</a></h3>
     {% endif %}
    </div>
{% endblock %}