{% extends 'base/user_base.html' %}

{% block title %} Parolni Tiklash {% endblock %}

{% block content %}
    <div style="margin-bottom: 20px">
        {% if user.is_authenticated %}
            <form action="" method="post" class="contact_form">
                <h2 style="margin-bottom: 20px">Password Change</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <input type="submit" value="save">
                    <a href="{% url 'password_reset' %}" style="margin-left: 20px; color: #ee9e9e">parolni unutdingizmi?</a>
                </div>
            </form>
        {% else %}
            <h3>Siz avval tizimga kirishingiz kerak <a href="{% url 'login' %}" style="margin-left: 20px; color: #D083CF; font-size: 15px">login sahifasi</a></h3>
        {% endif %}
    </div>
{% endblock %}