{% extends 'base/user_base.html' %}

{% block title %} Parol Yangilandi {% endblock %}

{% block content %}
    <div class="col-lg-8 col-md-8 col-sm-8">
         <div class="left_content">
            <h3 style="margin-bottom: 20px">Parol muvaffaqqiyatli yangilandi <a href="{% url 'home_page' %}" style="margin-left: 25px; color: #D083CF; font-size: 15px">bosh sahifa</a> <a href="{% url 'user_profile' %}" style="margin-left: 25px; color: #D083CF; font-size: 15px">foydalanuvchi sahifasi</a></h3>
        </div>
      </div>
{% endblock %}