{% extends 'base/user_base.html' %}

{% block title %} Parolni O'zgartirish{% endblock %}

{% block content %}
    <div style="margin-bottom: 20px">
        {% if validlink %}
            <h3>Yangi parolni kiriting</h3>
            <form method="post" class="contact_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="saqlash">
             </form>
        {% else %}
            <h3>Yaroqsiz havola <a href="{% url 'password_reset' %}" style="color: #D083CF; margin-left: 20px; font-size: 15px">parolni tiklash sahifasi</a></h3>
        {% endif %}
    </div>
{% endblock %}